bp.vis.disable_visualisation=1 # default is 0 (enabled)
cluster0.NUM_CORES=1 # default is 4
cluster0.cpu0.semihosting-use_stderr=1 # default is 0 (false)
cluster0.has_aarch64=1 # default is 0 (v8-R32)

# supresses warnigns produced by `cluster0.has_aarch64=1`
cluster0.gicv3.cpuintf-mmap-access-level = 2
cluster0.gicv3.SRE-enable-action-on-mmap = 2
cluster0.gicv3.SRE-EL2-enable-RAO = 1
cluster0.gicv3.extended-interrupt-range-support = 1
